[Unit]
Description=Carmax scraping interval
Requires=carmax.service

[Timer]
Unit=carmax.service
OnCalendar=*-*-* 04:00:00
# randomized to be more human-like
RandomizedDelaySec=4h

[Install]
WantedBy=timers.target
